QMainWindow {
    background-color: rgb(242,252,255);
    transition: background-color 0.4s ease;
}

#Buttons {
    background-color: rgb(188, 210, 241);
    border-radius: 10%;
    background: qradialgradient(cx:1, cy:1, radius: 1.5,
    fx:1, fy:0, stop:0.1 rgb(146, 217, 253), stop:0.5 rgb(185, 225, 249), stop:1 rgb(242,252,255) );
}

#operationsWidget {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 1, y2: 0,
    stop: 0 rgb(150, 215, 255), stop: 1 rgb(217,236,250));
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px outset #A4D6FB;
}

#process {

}

#equalLabelCss {
    color: black;
    font-family: "Jura";
    font-size: 30px;
}

#processLabelCss {
color: rgba(0, 0, 0, 0.5);
font-family: "Jura";
font-size: 13px;
}

QPushButton {
    width: 10px;
    height: 50px;

    background-color: rga(185,225,249, 0.5);

    border: 1px outset #A4D6FB;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Jura";
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 rgb(150, 215, 255), stop: 1 rgb(217,236,250));
    transform: translateY(-5px);
}

QPushButton:hover {
        opacity:  1;
}

#switchWid {
    background-color: rgb(150, 215, 255);
    border-radius: 10px;
    border: 1px solid rgb(188, 210, 241);
}

#switchCirc {
    background-color: rgb(242,252,255);
    border-radius: 10px;
    border: 1px solid rgb(188, 210, 241);
}
